<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
     <form (ngSubmit)="cargar()">

      <ion-item id="combo-box">
              <ion-label>Colores</ion-label>
              <ion-select [(ngModel)]="color.code_color"  multiple="true" [ngModelOptions]="{standalone: true}">
                    <ion-option value="blue">Azul</ion-option>
                    <ion-option value="red">Rojo</ion-option>
              </ion-select>
      </ion-item>
      <ion-item>
              <ion-label>Duracion en segundos</ion-label>
              <ion-input  [(ngModel)]="color.time" name="title" ></ion-input>
      </ion-item>
       <ion-item>
              <ion-label>Repeticiones</ion-label>
              <ion-input  [(ngModel)]="color.repeat" name="title" ></ion-input>
      </ion-item>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit">Comenzar</button>
        </ion-col>
      </ion-row>

    </form>
</ion-content>
