<!--
  Generated template for the Coloram page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>coloram</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	    <ion-row  [ngStyle]="{'background-color': code_color }">
			<h1><br> <span  [ngStyle]="{'color': code_color }">{{ code_color }}</span></h1>
		</ion-row>
		<ion-row>
			<h1>Duración: <br> <span style="font-size: 1.5em; color: red;">{{ time }}</span></h1>
		</ion-row>
		<ion-row>
			<h1>Iteración: <br> <span style="font-size: 1.5em; color: red;">{{ interval }}</span></h1>
		</ion-row>
		<ion-row>
	        <ion-col class="signup-col">
	          <button ion-button (click)="return()">Regresar</button>
	        </ion-col>
	    </ion-row>
</ion-content>
